<div *ngFor="let product of products">
    <h1>
        <a [title]="product.name + '詳細'">
            {{ product.name }}
        </a>
    </h1>
    <h2>価格：{{ product.price }}</h2>
    <h3>在庫：{{ product.stock }}</h3>
    <p *ngIf="true">{{product.description}}</p>

    <button (click)="share()">シェアする</button>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->